@font-face {
    font-family: 'River Adventurer';
    src: url('fonts/River Adventurer.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    /* Désactive le scroll */
    font-family: 'River Adventurer', sans-serif;
    background: url('images/bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
}

.logo img {
    width: 70%;
    margin: 20px auto;
    margin-top: -50px;
}

.chest img {
    width: 60%;
    margin: 0 auto;
}

.thank-you-message h2 {
    font-size: 2rem;
    color: white;
    margin: 20px 0;
    font-family: 'River Adventurer', sans-serif;
    text-shadow: -2px -2px 0 #463719, 5px 5px 0 #463719, -3px 2px 0 #463719, 2px 2px 0 #463719;
}

.button-container {
    margin-top: 20px;
}

.return-button {
    display: inline-block;
    background-color: #f8c100;
    color: #b20000;
    font-size: 1.5rem;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'River Adventurer', sans-serif;
    box-shadow: 0 5px 0 #9e7300;
    transition: background-color 0.3s;
}

.return-button:hover {
    background-color: #ffd700;
}